{include file="admin@public/header" /}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            广告管理
            <small>广告位列表</small>
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li class="active">配置</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="box">
                <div class="box-header">
                    <h3 class="box-title">广告位列表</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom" style="cursor: move;">

                    <div class="box-body">
                        <div class="tab-content no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0"  rowspan="1" colspan="1" ><input class="selectall" type="checkbox"/></th>
                                            <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" >广告位</th>
                                            <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {if $ad_position_list}
                                        {foreach name='ad_position_list' item='vo' key='key'}
                                        <tr role="row" class="odd">
                                            <td><input type="checkbox" class="selectitem" value="{$vo['id']}" /> </td>
                                            <td class="sorting_1">{$vo['name']}</td>
                                            <td>
                                                <a href="{:url('Ad/Index/posAddEdit',['id'=>$vo['id']])}"  class="btn btn-inline btn-success">编辑</a>
                                                <a href="{:url('Ad/Index/posDel',['ids'=>$vo['id']])}" onclick="return confirm('确定要删除吗？') || false;"  class="btn btn-inline btn-success">删除</a>
                                            </td>
                                        </tr>
                                        {/foreach}
                                        {else}
                                        <tr role="row" class="odd">
                                            <td colspan="5" align="center">暂无数据~!</td>
                                        </tr>
                                        {/if}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1">广告位</th>
                                            <th rowspan="1" colspan="1">操作</th></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        <a href="{:url('Ad/Index/posAddEdit')}" class="btn btn-success ">添加</a>
                                        <a href="javascript:;"  data-href="{:url('Ad/Index/posDel')}" class="btn  btn-danger batchdel">批量删除</a>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include file="admin@public/footer" /}